#saecoIMG{
    height: 100px ;
    width:230px ;
}
div.button{
    height: 30px;
    width: 100px ;
    border: 1px solid black;
    background: burlywood;
    border-radius: 30px;
}
button.button{
    background: rgba(174, 227, 248, 0.521);
    height: 30px;
    width: 120px ;
    border:1px solid black;
    border-radius: 5px;
    
    
}
.button:active {
    /*background-color: #3e8e41;*/
    box-shadow: 0 3px #666;
    transform: translateY(1px);
  }
#screen{
    display: flex;
    height: 140px ;
    width:330px ;
    border: 3px double blueviolet;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: -62px;
    justify-content: center;
}
#msg{
    font-size: 22px;
    align-self: center;
    
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: silver;
    height: 98%;
    width: 99% ;
    position: absolute;
    
}
#controlPanel{
    height: 400px ;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 250px;
    margin-bottom: 120px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px double black;

}
.buttonLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 140px 30px;
    /*align-self: flex-start;*/
}
.buttonLeft #button{
    padding: 5px;
    margin: 10px;
}
.buttonRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-self: flex-end;*/
    padding: 140px 30px;
}
.centr{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding: 20px;
    
    
}
.button.on{
    margin-left: 24px;
    margin-top: -20px;
    height: 50px;
    width: 50px;
    background-image:url(media/on_off.png);
    /*background: no-repeat;*/
    
}
#special{
    align-self: center;
    margin: 30px;
    width: 144px;
    justify-content: baseline;
    text-align: center;
    
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#intelia{
    align-self: flex-end;
    margin-left: -10px;
    margin-right: 150px;
    font-size: 33px;
    font-style: italic;
}